<h2>Measurement Groups</h2>
<h4 class="info-mode">{{ editmode | uppercase}} </h4>
<hr>
<p [ngSwitch]="editmode">
  <template ngSwitchCase="list">
    <test-modal #viewModal titleName='Measurements Groups'></test-modal>
    <test-modal #viewModalDelete titleName='Deleting:' [customMessage]="['Deleting this Measurement Group will affect the following components','Deleting this Measurement Group will NOT affect any component. Safe delete']" [customMessageClass]="['alert alert-danger','alert alert-success']"
        [showValidation]="true" [textValidation]="'Delete'" [controlSize]="true" (validationClicked)="deleteMeasGroup($event)">
    </test-modal>
    <div class="row">
      <div class="col-md-8 text-left">
        <label [tooltip]="'Clear Filter'" container="body" (click)="onResetFilter()" style="margin-top: 10px"><i class="glyphicon glyphicon-trash text-primary"></i></label>
        <input *ngIf="config.filtering" placeholder="Filter all columns" required = "false" [(ngModel)]="myFilterValue" [ngTableFiltering]="config.filtering" class="form-control select-pages" (tableChanged)="onChangeTable(config)" />
        <label [ngClass]="length > 0 ? ['label label-info'] : ['label label-warning']">{{length}} Results</label>
        <button style ="margin-top: -5px;" type="button" (click)="newMeasGroup()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</button>

    </div>
    <div class="col-md-4 text-right">
        <span style="margin-left: 20px"> Items per page: </span>
        <select class="select-pages" style="width:auto" [ngModel]="itemsPerPage" (ngModelChange)="changeItemsPerPage($event)">
          <option style="padding-left:2px" [value]="10">10</option>
          <option style="padding-left:2px" [value]="15">15</option>
          <option style="padding-left:2px" [value]="20">20</option>
        </select>
      </div>
    </div>
    <br>
    <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" (viewedItem)="viewItem($event)" (editedItem)="editMeasGroup($event)" (removedItem)="removeItem($event)" [showCustom]="true" [rows]="rows" [columns]="columns">
    </ng-table>
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </template>

  <template ngSwitchCase="create">
    <form [formGroup]="measgroupForm" class="form-horizontal" (ngSubmit)="saveMeasGroup()">
      <div class="form-group">
        <label class="control-label col-sm-2" for="ID">ID</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of Measurement Group"></i>
        <div class="col-sm-9">
          <input formControlName="ID" id="ID" />
          <control-messages [control]="measgroupForm.controls.ID"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Measurements">Measurements</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="List of measurements ready to be attached on {{measgroupForm.controls.ID.value}}"></i>
        <div class="col-sm-9">
          <ss-multiselect-dropdown [options]="selectmeas" formControlName="Measurements" [texts]="myTexts" [settings]="mySettings"></ss-multiselect-dropdown>
          <control-messages [control]="measgroupForm.controls.Measurements"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the SNMP Device"></i>
        <div class="col-sm-9">
          <textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description"> </textarea>
          <control-messages [control]="measgroupForm.controls.Description"></control-messages>
        </div>
      </div>

      <div class="col-sm-offset-4 col-sm-6">
        <button type="submit" [disabled]="!measgroupForm.valid">Submit</button>
        <button type="reset" [disabled]="!measgroupForm.dirty">Reset</button>
        <button type="button" class="ui button" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </template>

  <template ngSwitchCase="modify">
    <form [formGroup]="measgroupForm" class="form-horizontal" (ngSubmit)="updateMeasGroup()">
      <div class="form-group">
        <label class="control-label col-sm-2" for="ID">ID</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Connection port to the Device by SNMP protocol"></i>
        <div class="col-sm-9">
          <input formControlName="ID" id="ID" [ngModel]="measgroupForm.value.ID" />
          <control-messages [control]="measgroupForm.controls.ID"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Measurements">Measurements</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Connection port to the Device by SNMP protocol"></i>
        <div class="col-sm-9">
          <ss-multiselect-dropdown [options]="selectmeas" formControlName="Measurements" [texts]="myTexts" [settings]="mySettings" [ngModel]="measgroupForm.value.Measurements"></ss-multiselect-dropdown>
          <control-messages [control]="measgroupForm.controls.Measurements"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the Measurement Group"></i>
        <div class="col-sm-9">
          <textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description" [ngModel]='measgroupForm.value.Description'> </textarea>
          <control-messages [control]="measgroupForm.controls.Description"></control-messages>
        </div>
      </div>

      <div class="col-sm-offset-4 col-sm-6">
        <button type="submit" [disabled]="!measgroupForm.valid">Submit</button>
        <button type="reset" [disabled]="!measgroupForm.dirty">Reset</button>
        <button type="button" class="ui button" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </template>
</p>
