.block-overlay {
  background-color:#2E6DA4;
  cursor: wait;
}
.block-message-container {
  position: fixed;
  background-color: white;
  top: 30%;
  left: 0;
  right: 0;
  height: 100px;
  text-align: center;
  z-index: 10001;
  cursor: wait;
}
.block-message {
  display: flex;
  align-items: center;
  justify-content: center;
}
