typings/
node_modules/
public/node_modules
npm-debug.log
/dist
/public_gen
/tmp
/vendor

public/css/*.min.css

# Editor junk
*.sublime-workspace
*.swp
.idea/
.vscode/
*.iml

/data/*
/bin/*

conf/custom.ini
fig.yml
profile.cov
.notouch

conf/config.toml*
conf/snmpcollector.db*
dist*/*
public/*
test/*
profile/*
node_modules*
node_modules
