typings/
node_modules/
public/node_modules
npm-debug.log
/dist
/public_gen
/tmp

public/css/*.min.css

# Editor junk
*.sublime-workspace
*.swp
.idea/
*.iml

/data/*
/bin/*

conf/custom.ini
fig.yml
profile.cov
.notouch

