<h2>Runtime</h2>
<h4 class="info-mode">{{ editmode | uppercase}} </h4>
<hr>

<div class="col-md-12">
  <div class="col-md-4">
    <h4>
      <li class="glyphicon glyphicon-refresh" (click)="reloadData()"> </li>
      SNMP Devices list
    </h4>
    <span>
      Filter devices: <input type=text [(ngModel)]="filter" placeholder="Filter..." (ngModelChange)="onChange($event)">
    </span>
    <hr>
    <ul class="list-group" style="max-height:400px; overflow-y:auto">

      <li class="list-group-item" *ngFor="let dev of runtime_devs">
        <label style="display: inline; margin-right:2px" container="body" [tooltip]="dev.value.DeviceActive ?  'Active' : 'Not active'" [ngClass]="dev.value.DeviceActive ?  'glyphicon glyphicon-play label label-success' : 'glyphicon glyphicon-pause label label-danger'"></label>
        <label style="display: inline; margin-right:2px" container="body" [tooltip]="dev.value.DeviceConnected ?  'Connected' : 'Not connected'" [ngClass]="dev.value.DeviceConnected ?  'glyphicon glyphicon-globe label label-success' : 'glyphicon glyphicon-warning-sign label label-danger'"></label>
        <label style="display: inline; argin-right: 2px" container="body" [tooltip]="tooltipMetrics" class="label label-primary glyphicon glyphicon-eye-open" (click)="initRuntimeInfo(dev.ID)"></label>
        - {{dev.ID}}
        <template #tooltipMetrics> View {{dev.ID }}
          <br/> #Metrics: {{dev.value.NumMetrics}}
          <br/>#Measurements: {{dev.value.NumMeasurements}} </template>
      </li>
    </ul>
  </div>
  <div class="col-md-8" *ngIf="runtime_dev">
    <h4>
        <i class="glyphicon glyphicon-refresh" (click)="initRuntimeInfo(runtime_dev.ID,measActive)"></i>
        <span> SNMP Device: </span>
        <span [ngClass]="runtime_dev['DeviceConnected'] === false ? 'text-danger' : 'text-success' ">{{runtime_dev.ID}}</span>
        <span *ngIf="runtime_dev['DeviceConnected'] == false" class="text-danger"> - Device is not connected</span>
      </h4>
    <span>Tags: <label style="margin-left: 10px" class="label label-info" *ngFor="let tag of runtime_dev['TagMap'] | objectParser"> {{tag.key}}:{{tag.value}}</label> </span>

    <hr>
    <div class="row">
      <div class="col-md-6" *ngIf="runtime_dev['DeviceConnected'] !== false">
        <div class="panel panel-default">
          <div class="panel-heading">SysInfo</div>
          <div class="panel-body" style="overflow-x: scroll !important">
            <table class="table-striped table-bordered">
              <tr *ngFor="let info of runtime_dev['SysInfo'] | objectParser">
                <span>{{info.key}}</span>
                <td style="padding-left:10px">{{info.value }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Statistics SNMP Device</div>
          <div class="panel-body">
            <table class="table-striped table-bordered">
              <tr>
                <span style="padding-right:10px">Gets</span>
                <td style="padding-left:10px">{{runtime_dev['Stats'].Gets}}</td>
              </tr>
              <tr>
                <span style="padding-right:10px">Errors</span>
                <td style="padding-left:10px">{{runtime_dev['Stats'].Errors}}</td>
              </tr>
              <tr>
                <span style="padding-right:10px">Last Gather Duration</span>
                <td style="padding-left:10px">{{runtime_dev['Stats'].LastGatherDuration / 1000000000  }}</td>
              </tr>
              <tr>
                <span style="padding-right:10px">Last Filter Duration</span>
                <td style="padding-left:10px">{{runtime_dev['Stats'].LastFltUpdateDuration / 1000000000 }}</td>
              </tr>

            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default" style="padding-bottom: 0px">
          <div class="panel-heading">Runtime Operations</div>
          <div class="panel-body">

            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-7 text-left">
                    <span>SNMP State</span>
                    <span class="glyphicon glyphicon-question-sign" tooltip="Enable or disable the SNMP Active status"></span>
                  </div>
                  <div class="col-md-5 text-right">
                    <button type="button" (click)="runtime_dev.DeviceActive ? changeActiveDevice(runtime_dev.ID,false) : changeActiveDevice(runtime_dev.ID,true)" [ngClass]="runtime_dev.DeviceActive ? 'btn btn-danger' : 'btn btn-success'">{{runtime_dev.DeviceActive ? 'Disable' : 'Enable'}}</button>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-7 text-left">
                    <span>SNMP Debug</span>
                    <span class="glyphicon glyphicon-question-sign" tooltip="Enable or disable the SNMP Debug"></span>
                  </div>
                  <div class="col-md-5 text-right">
                    <button type="button" (click)="runtime_dev.StateDebug ? changeStateDebug(runtime_dev.ID,false) : changeStateDebug(runtime_dev.ID,true)" [ngClass]="runtime_dev.StateDebug ? 'btn btn-danger' : 'btn btn-success'">{{runtime_dev.StateDebug ? 'Disable' : 'Enable'}}</button>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-7 text-left">
                    <span>Log Level</span>
                    <span class="glyphicon glyphicon-question-sign" tooltip="Change log level of the device"></span>
                    <select style="width:100px" [(ngModel)]="runtime_dev.CurLogLevel" (ngModelChange)="onChangeLogLevel($event)" [ngModelOptions]="{standalone: true}">
                      <option style="padding-left:2px" *ngFor="let loglevel of loglLevelArray" [value]="loglevel">{{loglevel}}</option>
                    </select>
                  </div>
                  <div class="col-md-5 text-right">
                    <button type="button" (click)="changeLogLevel(runtime_dev.ID)" [disabled]="!islogLevelChanged" [ngClass]="'btn btn-primary'">Change</button>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-8 text-left">
                    <span>Force Flt Update</span>
                    <span class="glyphicon glyphicon-question-sign" tooltip="Force FIlter update on next cicle"></span>
                  </div>
                  <div class="col-md-4 text-right">
                    <button type="button" (click)="forceFltUpdate(runtime_dev.ID)" [ngClass]="'btn btn-primary'">Force</button>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-7 text-left">
                    <span>Download Log file</span>
                    <span class="glyphicon glyphicon-question-sign" tooltip="Download the device related log file"></span>
                  </div>
                  <div class="col-md-5 text-right">
                    <button type="button" (click)="downloadLogFile(runtime_dev.ID)" [ngClass]="'btn btn-primary'">Download</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="runtime_dev">
    <div *ngIf="runtime_dev['Measurements']" class="col-md-12" style="margin-left:10px">
      <br>
      <div class="col-md-2">
        <h4>
          Metrics Info
      </h4>
      </div>
      <div class="text-right col-md-10">
        <h4>
          <label style="display: inline; margin-right:2px; padding-top:5px" container=body [tooltip]="'Refreshing every ' +runtime_dev.Freq +' secs'" [ngClass]="isRefreshing ? 'label label-success refresh-transition' : 'label label-danger refresh-transition'">Last Refresh: {{refreshRuntime.LastUpdate | date : 'HH:mm:ss - Z'}}</label>
          <label style="display: inline; margin-right:2px" [tooltip]="!refreshRuntime.Running ? 'Set auto-refresh' : 'Stop auto-refresh'" [ngClass]="!refreshRuntime.Running ?  'glyphicon glyphicon-play label label-success' : 'glyphicon glyphicon-pause label label-danger'" (click)="updateRuntimeInfo(runtime_dev.ID,measActive,!refreshRuntime.Running)"></label>
          <label style="display: inline; margin-right:2px" [tooltip]="'Refresh now!'" container=body class="label label-primary glyphicon glyphicon-refresh" (click)="initRuntimeInfo(runtime_dev.ID,measActive)"></label>

          <span *ngIf="runtime_dev['Measurements'].length === 0" class="text-danger">- No measurements associated with the device. Couldn't retrieve metric runtime info</span>
      </h4>
      </div>
      <div class="col-md-12">
        <hr>
        <div *ngIf="runtime_dev['Measurements'].length !== 0">
          <div class="btn-group" role="group" aria-label="..." style="margin-bottom: 20px">
            <h5 class="pull-left" style="margin-right:20px">Measurements <span class="badge">{{runtime_dev['Measurements'].length}}</span></h5>
            <span class="input-group-btn" style="white-space: normal;">
              <button type="button" class="btn btn-default" *ngFor="let measurement of runtime_dev['Measurements']; let i = index" (click)="showTable(i)" [ngClass]="i === measActive ? 'btn-primary' : 'btn-default'" container=body [tooltip]="measInfo">
                {{measurement.ID}}
                <template #measInfo>
                    <dl class="text-left">
                      <p><dt class="margin-bottom:5px">Metrics <span class="badge">{{finalColumns[i].length > 0 ? finalColumns[i].length-1 : '0'}}</span></dt></p>
                      <dd *ngFor="let metrics of finalColumns[i]"><span *ngIf="metrics.title !== 'Index'">{{metrics.title}}</span></dd>
                    </dl>
                </template>
                <span [ngClass]="i === measActive ? 'badge' : 'label label-default'">{{finalData [i].length}} index</span>
              </button>
            </span>
          </div>
          <br>
          <div class="col-md-6 text-left" style="margin-bottom: 10px">
            <label [tooltip]="'Clear Filter'" container="body" (click)="onResetFilter()"><i class="glyphicon glyphicon-trash"></i></label>
            <input *ngIf="config.filtering" placeholder="Filter all columns" required = "false" [(ngModel)]="myFilterValue" [ngTableFiltering]="config.filtering" class="form-control select-pages" (tableChanged)="onChangeTable(config)" />
            <span class="label label-info"> {{length}} Results </span>
          </div>
          <div class="col-md-3 text-right">
            <span style="margin-left: 20px"> Items per page: </span>
            <select class="select-pages" style="width:auto" [(ngModel)]="itemsPerPage" (ngModelChange)="onChangeTable(config)">
              <option style="padding-left:2px" [value]='10'>10</option>
              <option style="padding-left:2px" [value]='15'>15</option>
              <option style="padding-left:2px" [value]='20'>20</option>
            </select>
          </div>
          <div class="col-md-3 text-right">
            <span class="label label-danger" [tooltip]="filterInfo" style="margin-l>eft: 10px" *ngIf="runtime_dev['Measurements'][measActive].Filter"> Filter applied: {{runtime_dev['Measurements'][measActive].FilterCfg.ID}}</span>
            <template #filterInfo>
              <div *ngFor="let run of runtime_dev['Measurements'][measActive].Filter | objectParser" style="text-align:left !important">
                <span class="text-left" style="paddint-left: 10px"><b>{{run.key}}</b></span>
                <span class="text-right">{{run.value ? run.value : '--'}}</span>
              </div>
            </template>
          </div>
          <div style="overflow-x: scroll" class="col-md-12">
            <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" (viewedItem)="viewItem($event)" (editedItem)="editMeasGroup($event)" (removedItem)="removeItem($event)" [showCustom]="false" [rows]="rows" [columns]="columns">
            </ng-table>
          </div>
          <div class="col-md-12">
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
