	<p [ngSwitch]="editmode">
    <template ngSwitchCase="list">
	<div class="row-fluid">
      		<div class=".col-md-3">
        		<h2>Measurement Filters</h2>
        	</div>
						<hr>
						<h4>{{ errorhandler }} </h4>
      		<div  class=".col-md-3">
			<input type="text"  class="form-control" required [(ngModel)]="filter" >
      <button type="submit" (click)="onFilter()" class="btn btn-primary">Filter</button>
	 		<button type="button" (click)="newMeasFilter()" class="btn btn-primary">New</button>
     		</div>
	</div>

	<accordion [closeOthers]="oneAtATime">
  		<accordion-group #group  *ngFor="let measfilter of measfilters" [heading]="measfilter.ID">
   			<div accordion-heading>
    				<i style="top: -15px" class="pull-right glyphicon"
         			[ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
   			</div>
		<!--content-->
					<i class="pull-right glyphicon glyphicon glyphicon-eye-open" (click)="viewItem(group,$event)"></i>
					<i class="pull-right glyphicon glyphicon glyphicon glyphicon-edit"  (click)="editMeasFilter(measfilter.ID)"></i>
    			<i class="pull-right glyphicon glyphicon glyphicon glyphicon-remove"  (click)="removeItem(measfilter.ID)"></i>

    		 {{ measfilter.IDMeasurementCfg }}
				 <hr>
				 {{ measfilter | json }}

  		</accordion-group>
	</accordion>
     </template>
     <template ngSwitchCase="create">
   	<form [formGroup]="measfilterForm" class="ui form" (ngSubmit)="saveMeasFilter()">
		<label for="id">id</label>
		 <input formControlName="id" id="id" />
		 <control-messages [control]="measfilterForm.controls.id"></control-messages>

		<label for="IDMeasurementCfg">Measurements</label>
			<select formControlName="IDMeasurementCfg" id="IDMeasurementCfg">
				<option *ngFor="let measurement of influxmeas"
						[value]="measurement.ID"> {{measurement.ID}}
				</option>
		</select>
		<control-messages [control]="measfilterForm.controls.IDMeasurementCfg"></control-messages>

		<label for="FType">GetMode</label>
		<select formControlName="FType" id="FType">
			<option value="file">File</option>
			<option value="OIDCondition">OID Condition</option>
		</select>
					<!--input formControlName="SnmpVersion" id="SnmpVersion" /-->
		<control-messages [control]="measfilterForm.controls.FType"></control-messages>

		<div *ngIf="measfilterForm.value.FType == 'file'">
		<ul><li>
		<label for="FileName">File Name</label>
			<input formControlName="FileName" id="FileName" />
		<control-messages [control]="measfilterForm.controls.FileName"></control-messages>
	</li>
	<li>
			<label for="EnableAlias">Enable alias</label>
		<select formControlName="EnableAlias" id="EnableAlias">
		  <option value="true">Enable</option>
			<option value="false">Disable</option>
		</select>
		<control-messages [control]="measfilterForm.controls.EnableAlias"></control-messages>
			</li></ul>
		</div>

		<div *ngIf="measfilterForm.value.FType == 'OIDCondition'">
		<ul><li>
		<label for="OIDCond">OID</label>
			<input formControlName="OIDCond" id="OIDCond" />
		<control-messages [control]="measfilterForm.controls.OIDCond"></control-messages>
	</li></ul>
		</div>
		<label for="CondValue">Condition type</label>
		<select formControlName="CondType" id="CondType">
			<option value="neq">Equal than</option>
			<option value="nlt">Less than</option>
			<option value="ngt">Greater than</option>
			<option value="nge">Greater equal than</option>
			<option value="nle">Less or equal than</option>
			<option value="match">Match string</option>
		</select>
		<control-messages [control]="measfilterForm.controls.CondType"></control-messages>
		<label for="CondValue">Value</label>
			<input formControlName="CondValue" id="CondValue" />
		<control-messages [control]="measfilterForm.controls.CondValue"></control-messages>

		<button type="submit" [disabled]="!measfilterForm.valid">Submit</button>
		<button type="reset" [disabled]="!measfilterForm.dirty">Reset</button>
		<button type="button" class="ui button" (click)="cancelEdit()">Cancel</button>
    	</form>

     </template>



		 <template ngSwitchCase="modify">
		<form [formGroup]="measfilterForm" class="ui form" (ngSubmit)="updateMeasFilter(testmeasfilters.ID)">
			<label for="id">id</label>
			 <input formControlName="id" id="id" [ngModel] = "testmeasfilters.ID"/>
			 <control-messages [control]="measfilterForm.controls.id"></control-messages>

		<label for="IDMeasurementCfg">Measurements</label>
			<select formControlName="IDMeasurementCfg" id="IDMeasurementCfg" [ngModel] = "testmeasfilters.IDMeasurementCfg">
				<option *ngFor="let measurement of influxmeas"
						[value]="measurement.ID"> {{measurement.ID}}
				</option>
		</select>
		<control-messages [control]="measfilterForm.controls.IDMeasurementCfg"></control-messages>

		<label for="FType">GetMode</label>"
		<select formControlName="FType" id="FType" [ngModel] = "testmeasfilters.FType">
			<option value="file">File</option>
			<option value="OIDCondition">OID Condition</option>
		</select>
					<!--input formControlName="SnmpVersion" id="SnmpVersion" /-->
		<control-messages [control]="measfilterForm.controls.FType"></control-messages>

		<div *ngIf="measfilterForm.value.FType == 'file'">
		<ul><li>
		<label for="FileName">File Name</label>
			<input formControlName="FileName" id="FileName" [ngModel] = "testmeasfilters.FileName"/>
		<control-messages [control]="measfilterForm.controls.FileName"></control-messages>
		</li>
		<li>
			<label for="EnableAlias">Enable alias</label>
		<select formControlName="EnableAlias" id="EnableAlias" [ngModel] = "testmeasfilters.EnableAlias">
			<option value="true">Enable</option>
			<option value="false">Disable</option>
		</select>
		<control-messages [control]="measfilterForm.controls.EnableAlias"></control-messages>
			</li></ul>
		</div>

		<div *ngIf="measfilterForm.value.FType == 'OIDCondition'">
		<ul><li>
		<label for="OIDCond">OID</label>
			<input formControlName="OIDCond" id="OIDCond" [ngModel] = "testmeasfilters.OIDCond"/>
		<control-messages [control]="measfilterForm.controls.OIDCond"></control-messages>
		</li></ul>
		</div>
		<label for="CondType">Condition type</label>
		<select formControlName="CondType" id="CondType" [ngModel] = "testmeasfilters.CondType">
			<option value="neq">Equal than</option>
			<option value="nlt">Less than</option>
			<option value="ngt">Greater than</option>
			<option value="nge">Greater equal than</option>
			<option value="nle">Less or equal than</option>
			<option value="match">Match value</option>
		</select>
		<control-messages [control]="measfilterForm.controls.CondType"></control-messages>
		<label for="CondValue">Value</label>
			<input formControlName="CondValue" id="CondValue" [ngModel] = "testmeasfilters.CondValue"/>
		<control-messages [control]="measfilterForm.controls.CondValue"></control-messages>

		<button type="submit" [disabled]="!measfilterForm.valid">Submit</button>
		<button type="reset" [disabled]="!measfilterForm.dirty">Reset</button>
		<button type="button" class="ui button" (click)="cancelEdit()">Cancel</button>
			</form>

		 </template>
</p>
