<p [ngSwitch]="editmode">
    <template ngSwitchWhen="list">
	<div class="row-fluid">
      		<div class=".col-md-3">
        		<h2>SNMP devices</h2>
        	</div>
      		<div  class=".col-md-3">
			<input type="text"  class="form-control" required   [(ngModel)]="filter" >
 			<button type="submit" (click)="onFilter()" class="btn btn-primary">Filter</button>
	 		<button type="button" (click)="newDevice()" class="btn btn-primary">New</button>
     		</div>
	</div>

	<accordion [closeOthers]="oneAtATime">
  		<accordion-group #group  *ngFor="#snmpdev of snmpdevs" [heading]="snmpdev.id">
   			<div accordion-heading>
    				<i style="top: -15px" class="pull-right glyphicon"
         			[ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
   			</div>
		<!--content-->
    			<i class="pull-right glyphicon glyphicon glyphicon-eye-open" (click)="viewItem(group,$event)"></i>
    			<i class="pull-right glyphicon glyphicon glyphicon glyphicon-remove"  (click)="removeItem(group,$event)"></i>

    		 {{ snmpdev.Host }}
  		</accordion-group>
	</accordion>
     </template>
     <template ngSwitchWhen="create">
   	<form [ngFormModel]="snmpdevForm" class="ui form" (submit)="saveSnmpDev()">
		<label for="id">id</label>
		 <input ngControl="id" id="id" />
		 <control-messages control="id"></control-messages>
		<label for="host">Host</label>
      		<input ngControl="Host" id="Host" />
		<control-messages control="Host"></control-messages>

		<label for="Port">Port</label>
      		<input ngControl="Port" id="Port" />
		<control-messages control="Port"></control-messages>

		<label for="Retries">Retries</label>
      		<input ngControl="Retries" id="Retries" />
		<control-messages control="Retries"></control-messages>

		<label for="Timeout">Timeout</label>
      		<input ngControl="Timeout" id="Timeout" />
		<control-messages control="Timeout"></control-messages>

		<label for="SnmpVersion">SnmpVersion</label>
		<select ngControl="SnmpVersion" id="SnmpVersion">
			<option value="1">1</option>
			<option value="2c"  selected="selected">2c</option>
			<option value="3">3</option>
		</select>
      		<!--input ngControl="SnmpVersion" id="SnmpVersion" /-->
		<control-messages control="SnmpVersion"></control-messages>
		<div *ngIf="snmpdevForm.value.SnmpVersion == '2c'" > 

		<label for="Community">Community</label>
      		<input ngControl="Community" id="Community" />
		<control-messages control="Community"></control-messages>
	        
		</div>

		<div *ngIf="snmpdevForm.value.SnmpVersion == 3" >

		<label for="V3SecLevel">V3SecLevel</label>

		<select ngControl="V3SecLevel" id="V3SecLevel">
			<option value="NoAuthNoPriv">NoAuthNoPriv</option>
			<option value="AuthNoPriv"  selected="selected">AuthNoPriv</option>
			<option value="AuthPriv">AuthPriv</option>
		</select>

      		<!--input ngControl="V3SecLevel" id="V3SecLevel" /-->
		<control-messages control="V3SecLevel"></control-messages>

		<label for="V3AuthUser">V3AuthUser</label>
      		<input ngControl="V3AuthUser" id="V3AuthUser" />
		<control-messages control="V3AuthUser"></control-messages>

		<label for="V3AuthPass">V3AuthPass</label>
      		<input ngControl="V3AuthPass" id="V3AuthPass" />
		<control-messages control="V3AuthPass"></control-messages>


		<label for="V3AuthProt">V3AuthProt</label>
		<select ngControl="V3AuthProt" id="V3AuthProt">
			<option value="MD5">MD5</option>
			<option value="SHA">SHA</option>
		</select>


      		<!--input ngControl="V3AuthProt" id="V3AuthProt" /-->
		<control-messages control="V3AuthProt"></control-messages>

		<label for="V3PrivPass">V3PrivPass</label>
      		<input ngControl="V3PrivPass" id="V3PrivPass" />
		<control-messages control="V3PrivPass"></control-messages>

		<label for="V3PrivProt">V3PrivProt</label>
		<select ngControl="V3PrivProt" id="V3PrivProt">
			<option value="AES">AES</option>
			<option value="DES">DES</option>
		</select>


      		<!--input ngControl="V3PrivProt" id="V3PrivProt" /-->
		<control-messages control="V3PrivProt"></control-messages>
		</div>

		<label for="Freq">Freq</label>
      		<input ngControl="Freq" id="Freq" />
		<control-messages control="Freq"></control-messages>

		<label for="Config">Config</label>
      		<input ngControl="Config" id="Config" />
		<control-messages control="Config"></control-messages>

		<label for="LogLevel">LogLevel</label>
      		<input ngControl="LogLevel" id="LogLevel" />
		<control-messages control="LogLevel"></control-messages>

		<label for="SnmpDebug">SnmpDebug</label>
      		<input ngControl="SnmpDebug" id="SnmpDebug" />
		<control-messages control="SnmpDebug"></control-messages>

		<label for="DeviceTagMame">DeviceTagMame</label>
      		<input ngControl="DeviceTagMame" id="DeviceTagMame" />
		<control-messages control="DeviceTagMame"></control-messages>

		<label for="DeviceTagValue">DeviceTagValue</label>
      		<input ngControl="DeviceTagValue" id="DeviceTagValue" />
		<control-messages control="DeviceTagValue"></control-messages>

		<label for="Extratags">Extratags</label>
      		<input ngControl="Extratags" id="Extratags" />
		<control-messages control="Extratags"></control-messages>

		<button type="submit" [disabled]="!snmpdevForm.valid">Submit</button>
		<button type="reset" [disabled]="!snmpdevForm.dirty">Reset</button>
		<button type="button" class="ui button" (click)="cancelEdit()">Cancel</button>  
    	</form>

     </template>
     <template ngSwitchWhen="modify">
	MODIFY
     </template>
</p>

