<div #blocker></div>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <h3>SNMP Collector</h3>
        <h5 *ngIf="version" class="instance" style="margin-right: 10px">{{version.InstanceID}}</h5>
      </li>
      <li>
        <span class="title-menu">Navigation</span>
      </li>
      <li *ngFor="let menuItem of menuItems; let last=last" [ngClass]="last ? 'last-li' : ''">
        <a (click)="clickMenu(menuItem.selector)" role="button" [ngClass]="item_type === menuItem.selector ? 'active-menu' : ''">{{menuItem.title}}</a>
      </li>
      <li class="last-li">
        <span class="title-menu">Data Management</span>
        <a (click)="showImportModal()" role="button">Import Data</a>
        <a (click)="showExportBulkModal()" role="button">Export Data</a>
      </li>
      <li class="last-li">
        <a class="btn btn-primary" style="text-align:left" (click)="reloadConfig()"> <i class="glyphicon glyphicon-refresh" style="display: inline; padding-left: 0px"> </i>Reload Config
          <i *ngIf="elapsedReload" class="glyphicon glyphicon-ok-circle" container="body" [tooltip]="elapsed"></i>
            <template #elapsed>
              <p>Elapsed: {{elapsedReload}} ns</p>
              <p>Last Reload: {{lastReload}}</p>
            </template>
        </a>
      </li>
      <li>
        <a class="btn btn-primary" style="text-align:left" role="button" (click)="logout()"><i class="glyphicon glyphicon-off" style="display: inline; padding-left: 0px"> </i>Logout</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" style="margin-bottom:50px">
    <div class="container-fluid">
      <div class="row">
        <import-file-modal #importFileModal [showValidation]="true" [textValidation]="'Import'" titleName='Importing:'></import-file-modal>
        <export-file-modal #exportBulkFileModal [showValidation]="true" [bulkExport]="true" [prepareExport]="false" [textValidation]="'Export'" titleName='Exporting Data:'></export-file-modal>

        <div class="col-lg-12">
          <p [ngSwitch]="item_type">
            <template ngSwitchCase="influxserver">
              <influxservers></influxservers>
            </template>
            <template ngSwitchCase="snmpmetric">
              <snmpmetrics></snmpmetrics>
            </template>
            <template ngSwitchCase="influxmeas">
              <influxmeas></influxmeas>
            </template>
            <template ngSwitchCase="measgroup">
              <measgroups></measgroups>
            </template>
            <template ngSwitchCase="measfilter">
              <measfilters></measfilters>
            </template>
            <template ngSwitchCase="oidcondition">
              <oidconditions></oidconditions>
            </template>
            <template ngSwitchCase="customfilter">
              <customfilters></customfilters>
            </template>
            <template ngSwitchCase="snmpdevice">
              <snmpdevs></snmpdevs>
            </template>
            <template ngSwitchCase="runtime">
              <runtime></runtime>
            </template>

            <template ngSwitchDefault>DEFAULT</template>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<nav class="navbar navbar-inverse navbar-fixed-bottom" style="z-index:1000">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <span class="navbar-text pull-left" *ngIf="version"> Instance - <b>{{version.InstanceID}}</b></span>
    <span class="navbar-text pull-right" *ngIf="version">SNMPCollector - {{version.Version}} - {{version.Commit}} ({{version.BuildStamp*1000 | date}}) </span>
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="col-md-12" style="top 0px;padding-bottom: 50px">
</div>
