<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <h3>SNMP Collector</h3>
        <h5 *ngIf="version" class="instance">{{version.InstanceID}}</h5>
      </li>
      <li *ngFor="let menuItem of menuItems; let last=last" [ngClass]="last ? 'last-li' : ''">
        <a (click)="clickMenu(menuItem.selector)" role="button" [ngClass]="item_type === menuItem.selector ? 'active-menu' : ''">{{menuItem.title}}</a>
      </li>
      <li class="last-li">
        <a class="btn btn-primary" style="text-align:left" (click)="reloadConfig()"> <i class="glyphicon glyphicon-refresh" style="display: inline; padding-left: 0px"> </i>Reload Config</a>
      </li>
      <li>
        <a class="btn btn-primary" style="text-align:left" role="button" (click)="logout()"><i class="glyphicon glyphicon-off" style="display: inline; padding-left: 0px"> </i>Logout</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p [ngSwitch]="item_type">
            <template ngSwitchCase="influxserver">
              <influxservers></influxservers>
            </template>
            <template ngSwitchCase="snmpmetric">
              <snmpmetrics></snmpmetrics>
            </template>
            <template ngSwitchCase="influxmeas">
              <influxmeas></influxmeas>
            </template>
            <template ngSwitchCase="measgroup">
              <measgroups></measgroups>
            </template>
            <template ngSwitchCase="measfilter">
              <measfilters></measfilters>
            </template>
            <template ngSwitchCase="customfilter">
              <customfilters></customfilters>
            </template>
            <template ngSwitchCase="snmpdevice">
              <snmpdevs></snmpdevs>
            </template>
            <template ngSwitchCase="runtime">
              <runtime></runtime>
            </template>

            <template ngSwitchDefault>DEFAULT</template>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <span class="navbar-text pull-left" *ngIf="version"> Instance - <b>{{version.InstanceID}}</b></span>
    <span class="navbar-text pull-right" *ngIf="version">SNMPCollector - {{version.Version}} - {{version.Commit}} ({{version.BuildStamp*1000 | date}}) </span>
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="col-md-12" style="top 0px;padding-bottom: 50px">
</div>
