<h2>Measurement Filters</h2>
<h4 class="info-mode">{{ editmode | uppercase}} </h4>
<hr>
<ng-container [ngSwitch]="editmode">
	<template ngSwitchCase="list">
		<test-modal #viewModal titleName='Measurement Filters'></test-modal>
		<test-modal #viewModalDelete titleName='Deleting:' [customMessage]="['Deleting this Measurement Filter will affect the following components','Deleting this Measurement Filter will NOT affect any component. Safe delete']" [customMessageClass]="['alert alert-danger','alert alert-success']"
						[showValidation]="true" [textValidation]="'Delete'" [controlSize]="true" (validationClicked)="deleteMeasFilter($event)">
		</test-modal>
		<export-file-modal #exportFileModal [showValidation]="true" [textValidation]="'Export'" titleName='Exporting:'></export-file-modal>
		<div class="row">
			<div class="col-md-8 text-left">
				<label [tooltip]="'Clear Filter'" container="body" (click)="onResetFilter()" style="margin-top: 10px"><i class="glyphicon glyphicon-trash text-primary"></i></label>
				<input *ngIf="config.filtering" placeholder="Filter all columns" required = "false" [(ngModel)]="myFilterValue" [ngTableFiltering]="config.filtering" class="form-control select-pages" (tableChanged)="onChangeTable(config)" />
				<span [ngClass]="length > 0 ? ['label label-info'] : ['label label-warning']" style="font-size : 100%">{{length}} Results</span>
				<button style ="margin-top: -5px;" type="button" (click)="newMeasFilter()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</button>
				<button style ="margin-top: -5px;" type="button" (click)="enableEdit()" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> {{editEnabled === false ? 'Enable Edit' : 'Disable Edit' }}</button>
			</div>
			<div class="col-md-4 text-right">
				<span style="margin-left: 20px"> Items per page: </span>
				<select class="select-pages" style="width:auto" [ngModel]="itemsPerPage || 'All'" (ngModelChange)="changeItemsPerPage($event)">
					<option *ngFor="let option of itemsPerPageOptions" style="padding-left:2px" [value]="option.value">{{option.title}}</option>
        </select>
			</div>
		</div>
		<br>
		<table-actions [editEnabled]="editEnabled" [counterErrors]="counterErrors" [counterItems]="counterItems || 0" [itemsSelected]="selectedArray.length" [tableAvailableActions]="tableAvailableActions" (actionApply)="applyAction($event)"></table-actions>
		<my-spinner [isRunning]="isRequesting"></my-spinner>
		<ng-table *ngIf="isRequesting === false" [exportType]="'measfiltercfg'" [config]="config" [(checkedItems)]="selectedArray" [editMode]="editEnabled" (tableChanged)="onChangeTable(config)" (exportedItem)="exportItem($event)" (viewedItem)="viewItem($event)" (editedItem)="editMeasFilter($event)" (removedItem)="removeItem($event)" [showCustom]="true" [rows]="rows" [columns]="columns">
		</ng-table>
		<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
		</pagination>
		<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
	</template>

	<template ngSwitchDefault>
		<form [formGroup]="measfilterForm" class="form-horizontal" (ngSubmit)="editmode === 'create' ? saveMeasFilter() : updateMeasFilter()">
			<div class="form-group">
				<label class="control-label col-sm-2" for="ID">ID</label>
				<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of Measurement Filters "></i>
				<div class="col-sm-9">
					<input formControlName="ID" id="ID" [ngModel]="measfilterForm.value.ID"/>
					<control-messages [control]="measfilterForm.controls.ID"></control-messages>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="IDMeasurementCfg">Measurements</label>
				<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="List of Measurements to attach the filter"></i>
				<div class="col-sm-9">
					  <ss-multiselect-dropdown [options]="selectmeas" formControlName="IDMeasurementCfg" [texts]="myTexts" [settings]="mySettings" [ngModel]="measfilterForm.value.IDMeasurementCfg"></ss-multiselect-dropdown>
					<control-messages [control]="measfilterForm.controls.IDMeasurementCfg"></control-messages>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="FType">Filter type</label>
				<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Filter input source: file or condiction OID"></i>
				<div class="col-sm-9">
					<select formControlName="FType" id="FType" (click)="setDynamicFields(measfilterForm.value.FType, true)" [ngModel]="measfilterForm.value.FType">
						<option value="file">File</option>
						<option value="OIDCondition">OID Condition</option>
						<option value="CustomFilter" >Custom Filter</option>
					</select>
					<control-messages [control]="measfilterForm.controls.FType"></control-messages>
				</div>
			</div>

			<div *ngIf="measfilterForm.controls.FilterName && measfilterForm.value.FType === 'file'">
				<div class="form-group">
					<label class="control-label col-sm-2" for="FilterName">File Name</label>
					<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="A valid filename cointained in the conf/ directory"></i>
					<div class="col-sm-9">
						<input formControlName="FilterName" id="FilterName" [ngModel]="measfilterForm.value.FilterName"/>
						<control-messages [control]="measfilterForm.controls.FilterName"></control-messages>
					</div>
				</div>
			</div>

			<div *ngIf="measfilterForm.controls.FilterName && measfilterForm.value.FType === 'OIDCondition'">
        <div class="form-group">
					<label class="control-label col-sm-2" for="FilterName">Oid Condition</label>
					<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="valid OID condition in the OID conditions table"></i>
					<div class="col-sm-9">
						<ss-multiselect-dropdown [options]="selectoidcond" formControlName="FilterName" [texts]="myTexts" [settings]="mySettings" [ngModel]="measfilterForm.value.FilterName"></ss-multiselect-dropdown>
						<control-messages [control]="measfilterForm.controls.FilterName"></control-messages>
					</div>
				</div>
			</div>


        <div class="form-group" *ngIf="measfilterForm.controls.FilterName && measfilterForm.value.FType === 'CustomFilter'">
					<label class="control-label col-sm-2" for="FilterName">Custom Filter</label>
					<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Valid Custom FIlter on the Custom Filter Table"></i>
					<div class="col-sm-9">
						<ss-multiselect-dropdown [options]="selectCustomFilters" formControlName="FilterName" [texts]="myTexts" [settings]="mySettings" [ngModel]="measfilterForm.value.FilterName" ></ss-multiselect-dropdown>
						<control-messages [control]="measfilterForm.controls.FilterName"></control-messages>
					</div>
				</div>
				<div class="form-group" *ngIf="measfilterForm.controls.EnableAlias">
					<label class="control-label col-sm-2" for="EnableAlias">Enable alias</label>
					<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Allow get measurement tag from alias in the file"></i>
					<div class="col-sm-9">
						<select formControlName="EnableAlias" id="EnableAlias" [ngModel]="measfilterForm.value.EnableAlias">
							<option value="true">Enable</option>
							<option value="false">Disable</option>
						</select>
						<control-messages [control]="measfilterForm.controls.EnableAlias"></control-messages>
					</div>
				</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="Description">Description</label>
				<i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the SNMP Device"></i>
				<div class="col-sm-9">
					<textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description" [ngModel]="measfilterForm.value.Description"> </textarea>
					<control-messages [control]="measfilterForm.controls.Description"></control-messages>
				</div>
			</div>

			<div class="col-sm-offset-4 col-sm-6">
				<button type="submit" [disabled]="!measfilterForm.valid">Submit</button>
				<button type="reset" [disabled]="!measfilterForm.dirty">Reset</button>
				<button type="button" class="ui button" (click)="cancelEdit()">Cancel</button>
			</div>

		</form>

	</template>
</ng-container>
