
html {
  font-family: sans-serif;
}

.info-mode {
  border-left: 5px solid #1b809e;
  padding-left: 5px;
}

/*form {
  padding: 10px;
  max-width: 320px;
}

label {
  margin-top: 16px;
//  float: left;
  display: block;
}*/

.customClass {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.info {
  color: #337ab7;
  float: left;
  padding-left: 10px;
}

input, button {
 // display: block;
}

select,input {
 //  float: right;
    display: inline;
    width: 320px;
    height: 27px;
    padding: 2px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button-default {
  margin-top: 4px;
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 300;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.ng-valid:not(form) {
  border-left: 5px solid #42A948; /* green */
}

button[disabled] {
  background-color: #337ab7;
  border-color: #2e6da4;
  opacity: .65;
  cursor: not-allowed;
}

control-messages {
  color: #E82C0C;

  margin: 6px 0;
}
