<h2>Runtime Output</h2>
<h4 class="info-mode">{{ editmode | uppercase}} </h4>
<hr>
<test-connection-modal #viewTestConnectionModal titleName='Test connection for:'>
</test-connection-modal>
<p [ngSwitch]="editmode">
    <ng-template ngSwitchCase="list">
        <div class="row">
            <div class="col-md-9 text-left">
                <label [tooltip]="'Refresh'" container="body" style="margin-top:10px; border-right: 1px solid; padding-right: 5px;"><i class="glyphicon glyphicon-refresh" (click)="reloadData()"></i></label>
                <label [tooltip]="'Clear Filter'" container="body" (click)="onResetFilter()" style="margin-top: 10px"><i class="glyphicon glyphicon-trash text-primary"></i></label>
                <input *ngIf="config.filtering" placeholder="Filter all columns" required="false" [(ngModel)]="myFilterValue" [ngTableFiltering]="config.filtering" class="form-control select-pages" (tableChanged)="onChangeTable(config)" />
                <label style="font-size:100%" [ngClass]="length > 0 ? ['label label-info'] : ['label label-warning']">{{length}} Results</label>
            </div>
            <div class="col-md-3 text-right">
                <span style="margin-left: 20px"> Items per page: </span>
                <select class="select-pages" style="width:auto" [ngModel]="itemsPerPage || 'All'" (ngModelChange)="changeItemsPerPage($event)">
                    <option *ngFor="let option of itemsPerPageOptions" style="padding-left:2px" [value]="option.value">{{option.title}}</option>
                </select>
            </div>
        </div>
        <div class="row well" *ngIf="isRequesting === false" style="margin-top: 10px; padding: 10px 0px 10px 15px;">
            <span> Status: </span>
            <label style="font-size:100%" [ngClass]="['label label-success']" (click)="toogleActiveFilter('active')" container="body" tooltip="Filter actived outputs">{{activeOutputs}} Actived <i [ngClass]="activeFilter === true ? ['glyphicon glyphicon-ok'] : ['glyphicon glyphicon-unchecked']"></i></label>
            <label style="font-size:100%;margin-left:15px" [ngClass]="['label label-danger']" (click)="toogleActiveFilter('deactive')" container="body" tooltip="Filter deactived outputs">{{length - activeOutputs}} Deactived <i [ngClass]="deactiveFilter === true ? ['glyphicon glyphicon-ok'] : ['glyphicon glyphicon-unchecked']"></i></label>
            <label *ngIf="noConnectedOutputs > 0" [ngClass]="['label label-warning']" style="margin-left:15px; font-size:100%" (click)="toogleActiveFilter('noconnected')" tooltip="Filter actived but no connected outputs"><i class="glyphicon glyphicon-warning-sign"></i> Warning {{noConnectedOutputs}} {{noConnectedOutputs > 1 ? 'outputs' : 'device'}} trying to connect... <i [ngClass]="noConnectedFilter === true ? ['glyphicon glyphicon-ok'] : ['glyphicon glyphicon-unchecked']"></i></label>
        </div>
        <br>
        <my-spinner [isRunning]="isRequesting"></my-spinner>
        <ng-table *ngIf="isRequesting === false" [config]="config" (tableChanged)="onChangeTable(config)" (extraActionClicked)="onExtraActionClicked($event)" (viewedItem)="initRuntimeInfo($event.ID,null, true)" (editedItem)="editMeasGroup($event)" (removedItem)="removeItem($event)"
        (testedConnection)="showTestConnectionModal($event)" [showCustom]="false" [showOutput]="true" [rows]="rows" [columns]="columns" [extraActions]="extraActions">
    </ng-table>
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</ng-template>