<table class="table dataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
    <thead>
        <tr role="row">
            <th *ngIf="editMode == true">
                <p>Select</p>
                <label (click)="selectAllItems(true)" class="glyphicon glyphicon-check text-success"></label>-
                <label (click)="selectAllItems(false)" class="glyphicon glyphicon-unchecked text-danger"></label>
            </th>
            <th *ngIf="showCustom == true" [ngStyle]="exportType ? {'min-width': '95px'} : {'min-width': '80px'}">
            </th>
            <th *ngIf="showStatus == true" [ngStyle]="exportType ? {'min-width': '95px'} : {'min-width': '80px'}">
            </th>
            <ng-container *ngIf="checkRows">
                <th style="width: 80px; text-align: center; padding-bottom: 15px;" [ngClass]="rows.length === 0 ? ['bg-warning'] : ''">
                    <i *ngIf="rows.length == 0" class="glyphicon glyphicon-warning-sign label label-warning" container=body [tooltip]="'No results'"> </i>
                </th>
            </ng-container>
            <!--HEADER -->
            <th *ngFor="let column of columns" [ngTableSorting]="config" [column]="column" (sortChanged)="onChangeTable($event)" ngClass="{{column.className || ''}}" style="vertical-align: middle; text-align: center; width:auto !important;" container="body" [tooltip]="column.tooltipInfo ? tooltipValues : ( column.tooltip ? column.name : '')">
                <ng-template #tooltipValues>
                    <ng-container>
                        <h6> {{column.name}}</h6>
                        <hr/>
                    </ng-container>
                    <div *ngFor="let test of (column.tooltipInfo | keyParser) " style="text-align:left !important ">
                        <span *ngIf=" test.key !='IsTag' && test.key !='Report' && test.value !==null ">
                          <span class="text-left " style="padding-left: 10px " ><b>{{test.key}}</b></span>
                        <span class="text-right">{{test.value}} </span>
                        </span>
                    </div>
                </ng-template>
                {{column.title}}
                <i *ngIf="column.icon" [ngClass]="'glyphicon glyphicon-'+column.icon"></i>
                <span *ngIf="column.tooltipInfo && column.tooltipInfo.IsTag" class="badge">Tag</span>
                <i *ngIf="config && column.sort " class="pull-right glyphicon " [ngClass]="{ 'glyphicon-chevron-down': column.sort==='desc' , 'glyphicon-chevron-up': column.sort==='asc' } "></i>
            </th>
            <ng-container *ngIf="extraActions ">
                <th *ngFor="let action of extraActions " style="vertical-align: middle; text-align: center; width:auto !important; ">
                    {{action.title}}
                </th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="showFilterRow ">
            <td *ngIf="showCustom==true " style="width:100px ">
            </td>
            <td *ngIf="showStatus==true " style="width:100px ">
            </td>

            <td *ngFor="let column of columns ">
                <input *ngIf="column.filtering " placeholder="{{column.filtering.placeholder}} " [ngTableFiltering]="column.filtering " class="form-control " style="width: auto; " (tableChanged)="onChangeTable(config) " />
            </td>
        </tr>
        <tr *ngFor="let row of rows ">
            <td *ngIf="editMode==true ">
                <i [ngClass]="checkItems(row.ID) ? [ 'glyphicon glyphicon-unchecked text-danger'] : [ 'glyphicon glyphicon-check text-success'] " (click)="selectItem(row) "></i>
            </td>
            <td *ngIf="showCustom==true ">
                <i *ngIf="exportType " class="glyphicon glyphicon-download-alt " [tooltip]=" 'Export item' " (click)="exportItem(row, exportType) "></i>
                <i class="glyphicon glyphicon-eye-open " [tooltip]=" 'View item' " (click)="viewItem(row) "></i>
                <i class="glyphicon glyphicon-edit " [tooltip]=" 'Edit item' " (click)="editItem(row) "></i>
                <i class="glyphicon glyphicon glyphicon-remove " [tooltip]=" 'Remove Item' " (click)="removeItem(row) "></i>
            </td>
            <td *ngIf="showStatus==true " style="min-width: 170px ">
                <label style="display: inline; margin-right: 2px " container="body " [tooltip]=" 'View '+ row.ID " class="label label-primary glyphicon glyphicon-eye-open " (click)="viewItem(row) "></label>
                <span style="border-right: 1px solid #1B809E; padding-right: 6px ">
          <label style="display: inline; margin-right: 2px " container="body " [tooltip]=" 'Test connection '+ row.ID " class="label label-primary glyphicon glyphicon glyphicon-flash " (click)="testConnection(row) "></label>
        </span>
                <span style="padding-left: 12px ">
          <label style="display: inline; margin-right: 2px " container="body " [tooltip]="row.DeviceActive ? 'Active' : 'Not active' " [ngClass]="row.DeviceActive ? 'glyphicon glyphicon-play label label-success' :
          'glyphicon glyphicon-pause label label-danger' "></label>
        </span>
                <label style="display: inline; margin-right: 2px " container="body " [tooltip]="row.DeviceConnected ? 'Connected' : 'Not connected' " [ngClass]="row.DeviceConnected ? 'glyphicon glyphicon-globe label label-success' :
        'glyphicon glyphicon-warning-sign label label-danger' "></label>
            </td>
            <ng-container *ngIf="checkRows ">
                <td style="width: 80px; text-align: center; padding-top: 15px; " [ngClass]="row.valid===true? [ 'bg-success'] : [ 'bg-warning'] ">
                    <i [ngClass]="row.valid===true ? [ 'glyphicon glyphicon-ok-sign label label-success'] : [ 'glyphicon glyphicon-warning-sign label label-warning'] " container=body [tooltip]="row.valid===true ? 'Valid measurement' :
          'Invalid Measurement' "> </i>
                </td>
            </ng-container>
            <td [ngClass]="row.tooltipInfo ? (row.tooltipInfo[column.name] ? (row.tooltipInfo[column.name][ 'Valid']===true ? [ 'bg-success'] : [ 'bg-danger']) : '') : '' " (click)="cellClick(row, column.name) " *ngFor="let column of columns; let i=i
      ndex " container=body [tooltip]="row.tooltipInfo ? tooltipValues : (column.name==='ID' ? row.Description : '') " [innerHtml]="sanitize(row[column.name],column.transform) " style="text-align:right ">

                <ng-template #tooltipValues>
                    <h6 *ngIf="row.Index ">Indexed : {{row.Index }}</h6>
                    <ng-container *ngIf="column.name !=='Index' ">
                        <h6> Metric:{{column.name}}</h6>
                        <hr/>
                    </ng-container>
                    <div *ngFor="let test of (row.tooltipInfo[column.name] | keyParser) " style="text-align:left !important ">
                        <span class="text-left " style="padding-left: 10px " *ngIf="test.value !==null || test.key==='CookedValue' "><b>{{test.key}}</b></span>
                        <span class="text-right " *ngIf="test.key==='CurTime' "> {{test.value | date:'d/M/y H:m:s'}}</span>
                        <span class="text-right " *ngIf="test.key==='LastTime' "> {{test.value | date:'d/M/y H:m:s'}}</span>
                        <span class="text-right " *ngIf="test.key !=='CurTime' && test.key !=='LastTime' && test.value !==null ">{{test.value}} </span>
                    </div>
                </ng-template>

            </td>
            <ng-container *ngIf="extraActions ">
                <td *ngFor="let action of extraActions " style="text-align: center ">
                    <button *ngIf="action.type=='boolean' " (click)="extraActionClick(row,action.title,!row[action.property]) " [ngClass]="row[action.property] ? [ 'btn btn-success'] : [ 'btn btn-danger'] " [innerHtml]="row[action.property] ? action.content[
        'enabled'] : action.content[ 'disabled'] ">
      </button>
                    <button *ngIf="action.type=='button' " class="btn btn-primary " (click)="extraActionClick(row,action.title) ">
        <span>{{action.content['enabled']}}</span>
      </button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>