<h2>Influx Servers</h2>
<h4 class="info-mode">{{ editmode | uppercase}} </h4>
<hr>
<ng-container [ngSwitch]="editmode">
  <template ngSwitchCase="list">
    <test-modal #viewModal titleName='InfluxDB Servers'></test-modal>
    <test-modal #viewModalDelete titleName='Deleting:' [customMessage]="['Deleting this InfluxDB Server will affect the following components','Deleting this InfluxDB Server will NOT affect any component. Safe delete']" [customMessageClass]="['alert alert-danger','alert alert-success']"
        [showValidation]="true" [textValidation]="'Delete'" [controlSize]="true" (validationClicked)="deleteInfluxServer($event)">
    </test-modal>
    <export-file-modal #exportFileModal [showValidation]="true" [textValidation]="'Export'" titleName='Exporting:'></export-file-modal>
    <div class="row">
      <div class="col-md-8 text-left">
        <label [tooltip]="'Clear Filter'" container="body" (click)="onResetFilter()" style="margin-top: 10px"><i class="glyphicon glyphicon-trash text-primary"></i></label>
        <input *ngIf="config.filtering" placeholder="Filter all columns" required = "false" [(ngModel)]="myFilterValue" [ngTableFiltering]="config.filtering" class="form-control select-pages" (tableChanged)="onChangeTable(config)" />
        <span [ngClass]="length > 0 ? ['label label-info'] : ['label label-warning']" style="font-size : 100%">{{length}} Results</span>
        <button style ="margin-top: -5px;" type="button" (click)="newInfluxServer()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</button>
        <button style ="margin-top: -5px;" type="button" (click)="enableEdit()" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> {{editEnabled === false ? 'Enable Edit' : 'Disable Edit' }}</button>
    </div>
    <div class="col-md-4 text-right">
        <span style="margin-left: 20px"> Items per page: </span>
        <select class="select-pages" style="width:auto" [ngModel]="itemsPerPage || 'All'" (ngModelChange)="changeItemsPerPage($event)">
					<option *ngFor="let option of itemsPerPageOptions" style="padding-left:2px" [value]="option.value">{{option.title}}</option>
        </select>
      </div>
    </div>
    <br>
    <table-actions [editEnabled]="editEnabled" [counterErrors]="counterErrors" [counterItems]="counterItems || 0" [itemsSelected]="selectedArray.length" [tableAvailableActions]="tableAvailableActions" (actionApply)="applyAction($event)"></table-actions>
    <my-spinner [isRunning]="isRequesting"></my-spinner>
    <ng-table *ngIf="isRequesting === false" [exportType]="'influxcfg'" [config]="config" [(checkedItems)]="selectedArray" [editMode]="editEnabled" (tableChanged)="onChangeTable(config)" (exportedItem)="exportItem($event)" (viewedItem)="viewItem($event)" (editedItem)="editInfluxServer($event)" (removedItem)="removeItem($event)" [showCustom]="true" [rows]="rows" [columns]="columns">
    </ng-table>
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
  </template>
  <template ngSwitchDefault>
    <form [formGroup]="influxserverForm" class="form-horizontal" (ngSubmit)="editmode === 'create' ? saveInfluxServer() : updateInfluxServer()">
      <div class="form-group">
        <label class="control-label col-sm-2" for="ID">ID</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Unique identifier of InfluxDB server"></i>
        <div class="col-sm-9">
          <input formControlName="ID" id="ID" [ngModel]="influxserverForm.value.ID"/>
          <control-messages [control]="influxserverForm.controls.ID"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Host">Host</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Address of InfluxServer"></i>
        <div class="col-sm-9">
          <input formControlName="Host" id="Host" placeholder="127.0.0.1 or localhost" [ngModel]="influxserverForm.value.Host" />
          <control-messages [control]="influxserverForm.controls.Host"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Port">Port</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Connection port to InfluxDB server {{influxserverForm.value.Host}}"></i>
        <div class="col-sm-9">
          <input formControlName="Port" id="Port" [ngModel]="influxserverForm.value.Port"/>
          <control-messages [control]="influxserverForm.controls.Port"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="DB">DB</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="InfluxDB Database name"></i>
        <div class="col-sm-9">
          <input formControlName="DB" id="DB" [ngModel]="influxserverForm.value.DB"/>
          <control-messages [control]="influxserverForm.controls.DB"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="User">User</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Authentification user to the DB"></i>
        <div class="col-sm-9">
          <input formControlName="User" id="User"  [ngModel]="influxserverForm.value.User"/>
          <control-messages [control]="influxserverForm.controls.User"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Password">Password</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Authentification password to the DB of the user {{influxserverForm.value.User}}"></i>
        <div class="col-sm-9">
          <input #inputPassword formControlName="Password" id="Password" type="password"  [ngModel]="influxserverForm.value.Password"/>
          <i style="margin-left:-25px; margin-right:6px" [ngClass]="inputPassword.type === 'password' ? ['glyphicon glyphicon-eye-open text-primary'] : ['glyphicon glyphicon-eye-close text-primary']" passwordToggle [input]="inputPassword"> </i>
          <control-messages [control]="influxserverForm.controls.Password"></control-messages>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-2" for="Retention">Retention Policy</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Retention policy name to write on. RP must exist on the DB {{influxserverForm.value.DB}}"></i>
        <div class="col-sm-9">
          <input formControlName="Retention" id="Retention" [ngModel]="influxserverForm.value.Retention" />
          <control-messages [control]="influxserverForm.controls.Retention"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Precision">Timestamp Precision</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Sets the precision for the supplied Unix time values (valid values are [ns,u,ms,s,m,h] ). SNMP are a slow gather protocol so default snmpcollector precision are in seconds"></i>
        <div class="col-sm-9">
          <select formControlName="Precision" id="Precision" [ngModel]="influxserverForm.value.Precision">
            <option value="h">h (hour)</option>
            <option value="m">m (minute)</option>
            <option default value="s">s (second)</option>
            <option value="ms">ms (millisecond)</option>
            <option value="u">u (microsecond)</option>
            <option value="ns">ns (nanosecond)</option>
          </select>
          <control-messages [control]="influxserverForm.controls.Precision"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Timeout">Timeout</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Time in second that client will wait to a complete write transaction to be complete"></i>
        <div class="col-sm-9">
          <input formControlName="Timeout" id="Timeout" [ngModel]="influxserverForm.value.Timeout"/>
          <control-messages [control]="influxserverForm.controls.Timeout"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="UserAgent">User Agent</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="UserAgent is the http User Agent, defaults to &quot;InfluxDBClient&quot; (useful for debugin data write in the server site)"></i>
        <div class="col-sm-9">
          <input formControlName="UserAgent" id="UserAgent" [ngModel]="influxserverForm.value.UserAgent"/>
          <control-messages [control]="influxserverForm.controls.UserAgent"></control-messages>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="Description">Description</label>
        <i placement="top" style="float: left" class="info control-label glyphicon glyphicon-info-sign" tooltipAnimation="true" tooltip="Description of the InfluxDB Server"></i>
        <div class="col-sm-9">
          <textarea class="form-control" style="width: 50%" rows="2" formControlName="Description" id="Description" [ngModel]="influxserverForm.value.Description"> </textarea>
          <control-messages [control]="influxserverForm.controls.Description"></control-messages>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="button"(click)="testInfluxServerConnection()">Test Connection</button>
      </div>
      <div class="col-sm-offset-4 col-sm-5">
        <button type="submit" [disabled]="!influxserverForm.valid">Submit</button>
        <button type="reset" [disabled]="!influxserverForm.dirty">Reset</button>
        <button type="button" class="ui button" (click)="cancelEdit()">Cancel</button>
      </div>
      <div *ngIf="alertHandler" class="col-md-4">
        <div [ngClass]="['panel-body', 'bg-'+alertHandler.type,'text-'+alertHandler.type]">
           <span>{{alertHandler.result}} - Ping elapsed: {{alertHandler.elapsed / 1000000 }} ms</span>
           <p>{{alertHandler.msg}}</p>
        </div>
      </div>
    </form>
  </template>
</ng-container>
